# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake-specific
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Build directories
build/
PhyzzyLib/

# Logs and debugging
*.log
*.tmp
*.stackdump

# IDE-specific files
.idea/
.vscode/
*.code-workspace

# MacOS-specific
.DS_Store

# Windows-specific
Thumbs.db
desktop.ini

# Temporary files
*.bak
*.swp
*~
